altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
docopt==0.6.2
idna==3.6
packaging==23.2
pefile==2023.2.7
pipdeptree==2.13.1
pipreqs==0.4.13
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==69.0.2
urllib3==2.1.0
yarg==0.1.9

beautifulsoup4==4.12.2
colorama==0.4.6
inquirer==3.1.4
PyYAML==6.0.1
Requests==2.31.0
tqdm==4.66.1
pywin32==306
prompt_toolkit==3.0.43
